extends layout

block content
  form(name="", method="post", action="/allow_permission")
    div(class="form-group")
      table(class="table table-hover")
        tr
          th=""
          th="Name"
          th="Record Id"

        for user in user_list
          tr
            td
              input(type="radio" name="selection" value=user.Name + "_" + user.RecordId)
            td=user.Name
            td=user.RecordId

    div(class="text-center")
      input(type="submit", name="submit", value="submit" class="btn btn-default")


    
