extends layout

block content
  table(class="table")
    tr
      th='Name'
      th='Certificate fingerprint'
      th='Date created'

    for user in user_list
      tr
        td=user.Name
        td=user.PubKeyCertificateFpr
        td=user.DateCreated
