h1=title

table
	tr
		th='Name'
		th='Description'
		th='Date Created'
		th='Details'
		th='Raw'

	for entry in entries
		tr
			td=entry.name
			td=entry.description
			td=entry.DateCreated
			td
				a(href='/claim/' + entry.name)='Details'
			td
				a(href='/claimdef/' + entry.name)='Raw'