h1=title

table
	tr
		th='Name'
		th='Description'
		th='Date Created'
		th='Details'
		th='Raw'

	for entry in entries
		tr
			td=entry.Name
			td=entry.Description
			td=entry.DateCreated
			td
				a(href='/claim/' + entry.Name)='Details'
			td
				a(href='/claimdef/' + entry.Name)='Raw'